.App {
    background-color: black;
    width: 740px;
    height: 460px;
    margin: auto;
    -ms-user-select: none;

    /**
     * Для мозилы
     */
    -moz-user-select: none;

    /**
     * Для конкверора
     */
    -khtml-user-select: none;

    /**
     * Для Сафари и Хрома
     */
    -webkit-user-select: none;
}
*{
    box-sizing: border-box;
}
.apple{
    width: calc(100% / 37);
    height: calc(100% / 23);
}
.bg-apple{
    width: 100%;
    height: 100%;
    background: red;
}

